
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: blue;
    text-decoration:darkblue;
    font-size: 18px;
}

nav ul li a:hover{
    text-decoration: underline;
}

body {
    background-color: rgb(240, 238, 236);
}

h1 {
    background-color: antiquewhite;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}


h2 {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

.Logo{
    display: block;
    margin: 0 auto;
}

.imagen {
    width: 300px;
    height: 300px;    
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}

section {
    background-color: rgb(240,238, 236);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
}

form details{
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
    box-sizing: border-box;
}

table{
    width: 60%;
    border-collapse:collapse;
    margin-top: 10px;
    margin: 18px;
}

table, th, td{
    border: 2px solid burlywood;
}

form{
    margin-top: 20px;
}
form label{
    display: block;
    margin: 5px;
}

form input{
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
    box-sizing: border-box;
    margin: 18px;
}

form input, label{
    text-align: left;
}


fieldset { 
    border: 2px solid burlywood; /* Borde con color */ border-radius: 5px; /* Bordes redondeados */ 
    padding: 10px 15px; /* Espaciado interior */ margin-bottom: 20px; /* Espaciado exterior inferior */ background-color: #f9f9f9; /* Color de fondo */ 
    width: 80%;
    margin: 10px
} 



legend { 
    font-weight: bold; /* Texto en negrita */ 
    color:black; /* Color del texto */ 
    padding: 0 10px; /* Espaciado alrededor del texto */ 
} 

fieldset label { 
    display: inline-block; /* Mostrar etiquetas como bloques */ 
    margin-bottom: 8px; /* Espaciado inferior entre etiquetas */ 
    font-size: 16px; /* Tamaño del texto */ 
    color: #333; /* Color del texto */ 
} 

fieldset input[type="checkbox"], fieldset input[type="radio"] {
     margin-right: 10px;

}



/*Fondo de footer */
#pie {
    background-color: antiquewhite;
/*recuadro del footer */
    padding: 20px;
/* margenes del padding y centrado */
    margin-top: 20px;
    text-align: center;
}


